---
layout: default
title: MEET THE STAFF
permalink: /members
---
<div class="meet-the-staff-container">
    <div class="meet-the-staff-intro-container">
        <div class="meet-the-staff-title">
            MEET THE STAFF
        </div>
        <hr class="title-under-bar">
    </div>
    <div class="contents-body-container">

        {% for team in site.data.members.teams %}
        <div class="team-container">
            <div class="team-title">{{ team.name }}</div>
            <div class="member-container">

                {% for member in team.members %}
                <div class="member-card">
                    <img class="member-img" src="{{ member.image }}">
                    <div class="member-name">{{ member.name }}</div>
                    <div class="member-role">{{ member.role }}</div>
                    <div class="member-email">{{ member.email }}</div>
                </div>
                {% endfor %}

            </div>
        </div>
        {% endfor %}

    </div>    
</div>