<footer>
<div class="footer">
    <div class="footer-container">
        <div class="content-box">
            <div class="title">
                About SNU QUILL
            </div>
            <div class="content">
                <span><a href="/introduction">Who We Are</a></span>
                <span><a href="/mission">Our Mission</a></span>
                <span><a href="/members">Meet the Staff</a></span>
            </div>
        </div>
        <div class="content-box">
            <div class="title">
                Contact Us
            </div>
            <div class="content">
                <span><a href="/feedback">Feedback &amp; Complaints</a></span>
                <span><a href="/advertise">Advertise with Us</a></span>
                <span><a href="/letter">Letter to the Editor</a></span>
            </div>
        </div>
        <div class="content-box">
            <div class="content">
                <span>1 Gwanak-ro, Gwanak-gu, Seoul</span>
                <span>Copyright 2023 The SNU QUILL. </span>
                <span>All rights reserved. </span>
                <span>mail to snuquill@gmail.com</span>
            </div>
        </div>
    </div>
    <a class="footer-logo" href="/">
        <div class="logo-block">
            THE SNU QUILL
        </div>
    </a>
</div>
</footer>