<header>
<div class="logo">
<div>
    <a href="/"><img src="/assets/images/logo.svg"></a>
    <div id="com-name">THE SNU QUILL</div>
    <div id="com-since">since 2005</div>
</div>
</div>
  <div class="nav-wrapper">
    <nav>
      <ul class="navigation">
        <li class="navigation-tab">
          <a href="/features/1">FEATURES</a>
        </li>
        <li class="navigation-tab">
          <a href="/snu_society/1">SNU SOCIETY</a>
        </li>
        <li class="navigation-tab">
          <a href="/arts_culture/1">ARTS & CULTURE</a>
        </li>
        <li class="navigation-tab">
          <a href="/opinion/1">OPINION</a>
        </li>
        <li class="navigation-tab">
          <a href="/short_articles/1">SHORT ARTICLES</a>
        </li>
        <li class="navigation-tab">
          <a href="/archives/1">ARCHIVES</a>
        </li>
      </ul>
    </nav>
  </div>
</header>