<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}}</title>
        <link rel="icon" href="{{ '/assets/images/logo.svg' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=2' | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/article.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZRK36XV5G8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZRK36XV5G8');
</script>
    </head>
    <body>
        {% include navigation.html %}
        <article>
        <div class="main-image">
                {% if page.picture_url %}
                    <img src="{{ page.picture_url }}" alt="{{ page.title }}" class="article-image">
                {% endif %}
        </div>
        <div class="article-body">
            
            <div class="article-category">
                {% if page.category == "ARTS_CULTURE" %}
                    ARTS &amp; CULTURE
                {% elsif page.category == "SHORT_ARTICLES" %}
                    SHORT ARTICLES
                {% elsif page.category == "SNU_SOCIETY" %}
                    SNU SOCIETY
                {% else %}
                    {{ page.category }}
                {% endif %}
            </div>
            <div class="headline">
                <p>{{ page.title }}</p>
            </div>
            <div class="article-content">
                <div>{{ content }}</div>
                <p></p>
                <p></p>
                <p></p>
                <div id="color-line"></div>
                <div class="article-footer" id="article-footer">
                    <div class="image-box">
                        <img src="/assets/images/pfp.svg" alt="">
                    </div>
                    <div class="author-box">
                        <div class="author-role"></div>
                        <div class="author-name">{{ page.author_name }}</div>
                        <div class="author-email"></div>
                        {% assign pub = page.publish_date | date: "%s" %}

                        {% for edition in site.data.editions %}
                        {% assign start = edition.start | date: "%s" %}
                        {% assign end = edition.end | date: "%s" %}

                        {% if pub > start and pub < end %}
                            <div class="edition" style="line-height: 1;"><small><strong style="color: #FB4E26;">{{ edition.name }}</strong><br>{{ edition.sem }} Semester</small></div>
                            {% break %}
                        {% endif %}
                        {% endfor %}                        

                    </div>
                </div>
            </div>

            <div class="article-navigation">

            </div>
        </div>
        {% include footer.html %}
    </body>
</html>
